In [1]:
import pandas as pd
import seaborn as sns
import zipfile
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('archive/Ling.csv')

'''
zip_file = zipfile.ZipFile('archive.zip')
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.endswith('.csv')}
'''

"\nzip_file = zipfile.ZipFile('archive.zip')\ndfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))\n       for text_file in zip_file.infolist()\n       if text_file.filename.endswith('.csv')}\n"

In [3]:
df.head()

,subject,body,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0

In [4]:
df

,subject,body,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0
...,...,...,...
2854,win $ 300usd and a cruise !,"raquel 's casino , inc . is awarding a cruise ...",1
2855,you have been asked to join kiddin,"the list owner of : "" kiddin "" has invited you...",1
2856,anglicization of composers ' names,"judging from the return post , i must have sou...",0
2857,"re : 6 . 797 , comparative method : n - ary co...",gotcha ! there are two separate fallacies in t...,0
2858,re : american - english in australia,hello ! i ' m working on a thesis concerning a...,0

In [5]:
df.head()

,subject,body,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0

In [6]:
df.describe()

             label
count  2859.000000
mean      0.160196
std       0.366852
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.isnull().sum()

subject    62
body        0
label       0
dtype: int64

In [9]:
df.shape

(2859, 3)

In [10]:
df.dropna(inplace=True)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df[df['label']==1].value_counts().sum()

np.int64(445)

In [13]:
df[df['label']==0].value_counts().sum()

np.int64(2352)

### wordcloud

In [14]:
emails = df['body'].astype(str)
email_all = " ".join(emails)

In [15]:
#email_all_cloud = WordCloud().generate(email_all)

In [16]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(email_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of all Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(email_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of all Emails')\nplt.show()\n"

In [17]:
spam_emails = df[df['label']==1]['body'].astype(str)
spam_emails_all = " ".join(spam_emails)

In [18]:
#spam_emails_all_cloud = WordCloud().generate(spam_emails_all)

In [19]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(spam_emails_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of Spam Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(spam_emails_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of Spam Emails')\nplt.show()\n"

In [20]:
clean_emails = df[df['label']==0]['body'].astype(str)
clean_emails_all = " ".join(clean_emails)

In [21]:
#clean_emails_all_cloud = WordCloud().generate(clean_emails_all)

In [22]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(clean_emails_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of Clean Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(clean_emails_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of Clean Emails')\nplt.show()\n"

### preprocessing

In [23]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arasekin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\arasekin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [24]:
"""
def text_preprocess(ds: pd.Series) -> pd.Series:
    ds = ds.str.lower()
    ds = ds.str.replace(r'[^a-zA-Z\s]+', '', regex=True)
    ds = ds.str.split()
    ds = ds.apply(lambda x: [word for word in x if word not in stopwords.words('english')])
    lemmatizer = WordNetLemmatizer()
    ds = ds.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
    ds = ds.str.join(' ')
    return ds

df['body'] = text_preprocess(df['body'])

df.to_csv('processed/processed_text_ling.csv', index=False)

"""

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\arasekin\AppData\Local\Temp\ipykernel_11632\1471786919.py:1: SyntaxWarning: invalid escape sequence '\s'
  """

"\ndef text_preprocess(ds: pd.Series) -> pd.Series:\n    ds = ds.str.lower()\n    ds = ds.str.replace(r'[^a-zA-Z\\s]+', '', regex=True)\n    ds = ds.str.split()\n    ds = ds.apply(lambda x: [word for word in x if word not in stopwords.words('english')])\n    lemmatizer = WordNetLemmatizer()\n    ds = ds.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])\n    ds = ds.str.join(' ')\n    return ds\n\ndf['body'] = text_preprocess(df['body'])\n\ndf.to_csv('processed/processed_text_ling.csv', index=False)\n\n"

In [25]:
df= pd.read_csv('processed/processed_text_ling.csv')
df.head(20)

,subject,body,label
0,job posting - apple-iss research center,content length appleiss research center u mill...,0
1,query : letter frequencies for text identifica...,posting inquiry sergei atamas satamas umabnet ...,0
2,risk,colleague researching differing degree risk pe...,0
3,request book information,earlier morning phone friend mine living south...,0
4,call for abstracts : optimality in syntactic t...,content length call paper best good enough wor...,0
5,m . a . in scandinavian linguistics,scandinavian linguistics university tromsoe co...,0
6,call for papers : linguistics session of the m...,call paper linguistics session midwest modern ...,0
7,foreign language in commercials,content length greeting wondering someone iden...,0
8,fulbright announcement : please post / dissemi...,fulbright announcement please post disseminate...,0
9,gala ' 95 : call for papers,groningen assembly language acquisition univer...,0
10,bu conf on language development ' 95 - announc...,th annual boston university conference languag...,0
11,korean software for macintosh,dear sir madam would please send information k...,0
12,simultaneous prepositions and postpositions in...,looking analysis nominal construction language...,0
13,sum : imperatives without you subjects,content length summary response query imperati...,0
14,policies,moderator message happy subscriber see linguis...,0
15,* * * correction to hellenistic greek announce...,couple day ago send fyi hellenistic greek ling...,0
16,question on audio samples,looking audio sample english speech spoken non...,0
17,sexism and language,lydie e meunier latest mean say consider oppre...,0
18,teaching english in korea,teaching english korea language center chonnam...,0
19,free,multipart message mime format nextpart bd ffe ...,1

In [26]:
df['body'].isna().sum()

np.int64(1)

In [27]:
df.dropna(inplace=True)

In [28]:
df['body'].isna().sum()

np.int64(0)

In [29]:
df['body'].duplicated().sum()

np.int64(15)

In [30]:
df.drop_duplicates(inplace=True)

In [31]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from tqdm import tqdm
import random

def process_chunk(chunk, vectorizer, similarity_threshold=0.9):
    tfidf_matrix = vectorizer.transform(chunk['body'])
    
    sim_matrix = cosine_similarity(tfidf_matrix)
    np.fill_diagonal(sim_matrix, 0)  # Zero out self-similarities
    
    clusters = []
    used_indices = set()
    
    for i in range(len(chunk)):
        if i not in used_indices:
            similar = np.where(sim_matrix[i] > similarity_threshold)[0]
            if len(similar) > 1:
                cluster = [chunk.index[idx] for idx in similar]
                clusters.append(cluster)
                used_indices.update(similar)
    
    return clusters

def handle_similar_texts(df, similarity_threshold=0.9, chunk_size=1000, display_clusters=True, max_clusters_to_show=5):
    vectorizer = TfidfVectorizer(max_features=10000)  # Limit features to save memory
    vectorizer.fit(df['body'])
    
    all_clusters = []
    
    for i in tqdm(range(0, len(df), chunk_size), desc="Processing chunks"):
        chunk = df.iloc[i:i+chunk_size]
        clusters = process_chunk(chunk, vectorizer, similarity_threshold)
        all_clusters.extend(clusters)
    
    print(f"Found {len(all_clusters)} clusters of similar texts")
    
    # Randomly select a few clusters to display
    clusters_to_show = random.sample(all_clusters, min(max_clusters_to_show, len(all_clusters)))
    
    indices_to_keep = set(df.index)  # Start with all indices
    
    for i, cluster in enumerate(tqdm(all_clusters, desc="Processing clusters")):
        if display_clusters and cluster in clusters_to_show:
            print(f"\nExample Cluster {i+1}:")
            for j, idx in enumerate(cluster[:3]):  # Show only first 3 entries in the cluster
                print(f"  Entry {j+1}: {df.loc[idx, 'body'][:100]}...")  # Show only first 100 characters
            if len(cluster) > 3:
                print(f"  ... and {len(cluster) - 3} more entries")
        
        # Keep only the first entry in the cluster
        indices_to_keep -= set(cluster[1:])
    
    # Keep only the rows we want to keep
    df = df.loc[list(indices_to_keep)]
    
    return df

# Apply the function to your dataframe
df = handle_similar_texts(df, similarity_threshold=0.9, chunk_size=1000, display_clusters=True, max_clusters_to_show=5)

Processing chunks: 100%|██████████| 3/3 [00:00<00:00,  5.00it/s]

Found 22 clusters of similar texts

Processing clusters: 100%|██████████| 22/22 [00:00<?, ?it/s]

Example Cluster 3:
  Entry 1: georgetown linguistics society present gls development discourse analysis february georgetown univer...
  Entry 2: georgetown linguistics society present gls development discourse analysis february georgetown univer...

Example Cluster 8:
  Entry 1: sixth workshop large corpus august immediately following acl coling university montreal montreal que...
  Entry 2: call paper sixth workshop large corpus august immediately following acl coling university montreal m...

Example Cluster 15:
  Entry 1: call paper wecol western conference linguistics october arizona state university tempe arizona deadl...
  Entry 2: teresa well research assistant dr elly van gelderen arizona state university call paper wecol wester...

Example Cluster 17:
  Entry 1: call paper syllable typology theory conference representation typology syllable held tuebingen germa...
  Entry 2: call paper syllable typology theory conference representation typology syllable held tuebingen germa...

Example Cluster 18:
  Entry 1: second announcement call paper workshop text speech dialog tsd brno czech republic september worksho...
  Entry 2: first announcement call paper workshop text speech dialog tsd brno czech republic september workshop...

In [32]:
df.head(20)

,subject,body,label
0,job posting - apple-iss research center,content length appleiss research center u mill...,0
1,query : letter frequencies for text identifica...,posting inquiry sergei atamas satamas umabnet ...,0
2,risk,colleague researching differing degree risk pe...,0
3,request book information,earlier morning phone friend mine living south...,0
4,call for abstracts : optimality in syntactic t...,content length call paper best good enough wor...,0
5,m . a . in scandinavian linguistics,scandinavian linguistics university tromsoe co...,0
6,call for papers : linguistics session of the m...,call paper linguistics session midwest modern ...,0
7,foreign language in commercials,content length greeting wondering someone iden...,0
8,fulbright announcement : please post / dissemi...,fulbright announcement please post disseminate...,0
9,gala ' 95 : call for papers,groningen assembly language acquisition univer...,0
10,bu conf on language development ' 95 - announc...,th annual boston university conference languag...,0
11,korean software for macintosh,dear sir madam would please send information k...,0
12,simultaneous prepositions and postpositions in...,looking analysis nominal construction language...,0
13,sum : imperatives without you subjects,content length summary response query imperati...,0
14,policies,moderator message happy subscriber see linguis...,0
15,* * * correction to hellenistic greek announce...,couple day ago send fyi hellenistic greek ling...,0
16,question on audio samples,looking audio sample english speech spoken non...,0
17,sexism and language,lydie e meunier latest mean say consider oppre...,0
18,teaching english in korea,teaching english korea language center chonnam...,0
19,free,multipart message mime format nextpart bd ffe ...,1

In [33]:
df.shape

(2760, 3)

In [34]:
#removing too few words
from collections import Counter
word_counts = Counter()
for text in df['body']:
    word_counts.update(text.split())

# Step 2: Remove words with a frequency of one
words_to_remove = {word for word, count in word_counts.items() if count <=5}
# Step 3: Reconstruct the text without the rare words
def remove_rare_words(text, words_to_remove):
    return ' '.join([word for word in text.split() if word not in words_to_remove])

df['body'] = df['body'].apply(lambda text: remove_rare_words(text, words_to_remove))

In [35]:
df.head(20)

,subject,body,label
0,job posting - apple-iss research center,content length research center u million joint...,0
1,query : letter frequencies for text identifica...,posting inquiry sergei ab umd edu research ass...,0
2,risk,colleague researching differing degree risk pe...,0
3,request book information,earlier morning phone friend mine living south...,0
4,call for abstracts : optimality in syntactic t...,content length call paper best good enough wor...,0
5,m . a . in scandinavian linguistics,scandinavian linguistics university tromsoe co...,0
6,call for papers : linguistics session of the m...,call paper linguistics session midwest modern ...,0
7,foreign language in commercials,content length greeting wondering someone iden...,0
8,fulbright announcement : please post / dissemi...,announcement please post list subject scholar ...,0
9,gala ' 95 : call for papers,groningen assembly language acquisition univer...,0
10,bu conf on language development ' 95 - announc...,th annual boston university conference languag...,0
11,korean software for macintosh,dear sir madam would please send information k...,0
12,simultaneous prepositions and postpositions in...,looking analysis nominal construction language...,0
13,sum : imperatives without you subjects,content length summary response query imperati...,0
14,policies,moderator message happy subscriber see linguis...,0
15,* * * correction to hellenistic greek announce...,couple day ago send greek linguistics resource...,0
16,question on audio samples,looking audio sample english speech spoken non...,0
17,sexism and language,lydie e meunier latest mean say consider oppre...,0
18,teaching english in korea,teaching english korea language center chonnam...,0
19,free,message mime format nextpart bd ffe content ty...,1

In [36]:
df.shape

(2760, 3)

In [37]:
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame and 'text_combined' is your text data column
# 'label' is your target variable

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['body'], df['label'], test_size=0.2, random_state=42)

# Verify no overlap in the text data
train_texts = set(X_train)
test_texts = set(X_test)
overlap = train_texts.intersection(test_texts)
print(f"Number of overlapping texts: {len(overlap)}")

Number of overlapping texts: 3

In [42]:
# Fit the TF-IDF vectorizer on the training data only
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=100, ngram_range=(1, 2))
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data using the already fitted vectorizer
X_test_tfidf = tfidf_vectorizer.transform(X_test)

tfidf_vectorizer.get_feature_names_out()

print(X_train_tfidf.shape)
print(X_test_tfidf.shape)

(2208, 100)
(552, 100)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Train a Logistic Regression model
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)

# Predict on the test set
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98       463
           1       0.97      0.83      0.90        89

    accuracy                           0.97       552
   macro avg       0.97      0.91      0.94       552
weighted avg       0.97      0.97      0.97       552

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Train a Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_tfidf, y_train)

# Predict on the test set
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99       463
           1       0.97      0.87      0.92        89

    accuracy                           0.97       552
   macro avg       0.97      0.93      0.95       552
weighted avg       0.97      0.97      0.97       552

In [ ]:
import shap

explainer = shap.TreeExplainer(model)
shap_values = explainer.shap_values(X_test_tfidf)

# Summarize the effects of all the features
shap.summary_plot(shap_values, X_test_tfidf, plot_type="bar")