In [1]:
import pandas as pd
import seaborn as sns
import zipfile
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('archive/phishing_email.csv')

'''
zip_file = zipfile.ZipFile('archive.zip')
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.endswith('.csv')}
'''

"\nzip_file = zipfile.ZipFile('archive.zip')\ndfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))\n       for text_file in zip_file.infolist()\n       if text_file.filename.endswith('.csv')}\n"

In [3]:
df.head()

                                       text_combined  label
0  hpl nom may 25 2001 see attached file hplno 52...      0
1  nom actual vols 24 th forwarded sabrae zajac h...      0
2  enron actuals march 30 april 1 201 estimated a...      0
3  hpl nom may 30 2001 see attached file hplno 53...      0
4  hpl nom june 1 2001 see attached file hplno 60...      0

In [4]:
df

                                           text_combined  label
0      hpl nom may 25 2001 see attached file hplno 52...      0
1      nom actual vols 24 th forwarded sabrae zajac h...      0
2      enron actuals march 30 april 1 201 estimated a...      0
3      hpl nom may 30 2001 see attached file hplno 53...      0
4      hpl nom june 1 2001 see attached file hplno 60...      0
...                                                  ...    ...
82481  info advantageapartmentscom infoadvantageapart...      1
82482  monkeyorg helpdeskmonkeyorg monkeyorg hi josep...      1
82483  help center infohelpcentercoza_infohelpcenterc...      1
82484  metamask infosofamekarcom verify metamask wall...      1
82485  fastway infofastwaycoza_infofastwaycoza_infofa...      1

[82486 rows x 2 columns]

In [5]:
df.head()

                                       text_combined  label
0  hpl nom may 25 2001 see attached file hplno 52...      0
1  nom actual vols 24 th forwarded sabrae zajac h...      0
2  enron actuals march 30 april 1 201 estimated a...      0
3  hpl nom may 30 2001 see attached file hplno 53...      0
4  hpl nom june 1 2001 see attached file hplno 60...      0

In [6]:
df.describe()

              label
count  82486.000000
mean       0.519979
std        0.499604
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [7]:
df.duplicated().sum()

np.int64(408)

In [8]:
df.isnull().sum()

text_combined    0
label            0
dtype: int64

In [9]:
df.shape

(82486, 2)

In [10]:
df.dropna(inplace=True)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df[df['label']==1].value_counts().sum()

np.int64(42845)

In [13]:
df[df['label']==0].value_counts().sum()

np.int64(39233)

### wordcloud

In [14]:
emails = df['text_combined'].astype(str)
email_all = " ".join(emails)

In [15]:
#email_all_cloud = WordCloud().generate(email_all)

In [16]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(email_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of all Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(email_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of all Emails')\nplt.show()\n"

In [17]:
spam_emails = df[df['label']==1]['text_combined'].astype(str)
spam_emails_all = " ".join(spam_emails)

In [18]:
#spam_emails_all_cloud = WordCloud().generate(spam_emails_all)

In [19]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(spam_emails_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of Spam Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(spam_emails_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of Spam Emails')\nplt.show()\n"

In [20]:
clean_emails = df[df['label']==0]['text_combined'].astype(str)
clean_emails_all = " ".join(clean_emails)

In [21]:
#clean_emails_all_cloud = WordCloud().generate(clean_emails_all)

In [22]:
'''
plt.figure(figsize=(10, 8))
plt.imshow(clean_emails_all_cloud, interpolation='bilinear')
plt.axis('off')
plt.title('Word Cloud of Clean Emails')
plt.show()
'''

"\nplt.figure(figsize=(10, 8))\nplt.imshow(clean_emails_all_cloud, interpolation='bilinear')\nplt.axis('off')\nplt.title('Word Cloud of Clean Emails')\nplt.show()\n"

In [23]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arasekin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\arasekin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [24]:
'''
def text_preprocess(ds: pd.Series) -> pd.Series:
    ds = ds.str.lower()
    ds = ds.str.replace(r'[^a-zA-Z\s]+', '', regex=True)
    ds = ds.str.split()
    ds = ds.apply(lambda x: [word for word in x if word not in stopwords.words('english')])
    lemmatizer = WordNetLemmatizer()
    ds = ds.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
    ds = ds.str.join(' ')
    return ds

df['text_combined'] = text_preprocess(df['text_combined'])

df.to_csv('processed/processed_text2.csv', index=False)
'''

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\arasekin\AppData\Local\Temp\ipykernel_5160\1255572155.py:1: SyntaxWarning: invalid escape sequence '\s'
  '''

"\ndef text_preprocess(ds: pd.Series) -> pd.Series:\n    ds = ds.str.lower()\n    ds = ds.str.replace(r'[^a-zA-Z\\s]+', '', regex=True)\n    ds = ds.str.split()\n    ds = ds.apply(lambda x: [word for word in x if word not in stopwords.words('english')])\n    lemmatizer = WordNetLemmatizer()\n    ds = ds.apply(lambda x: [lemmatizer.lemmatize(word) for word in x])\n    ds = ds.str.join(' ')\n    return ds\n\ndf['text_combined'] = text_preprocess(df['text_combined'])\n\ndf.to_csv('processed/processed_text2.csv', index=False)\n"

In [25]:
df= pd.read_csv('processed/processed_text2.csv')
df.head(20)

                                        text_combined  label
0     hpl nom may see attached file hplno xl hplno xl      0
1   nom actual vols th forwarded sabrae zajac hou ...      0
2   enron actuals march april estimated actuals ma...      0
3     hpl nom may see attached file hplno xl hplno xl      0
4    hpl nom june see attached file hplno xl hplno xl      0
5     hpl nom may see attached file hplno xl hplno xl      0
6   tried get fancy address came back forwarded la...      0
7   hpl noms february see attached file hplo xl hp...      0
8   fw pooling contract template original message ...      0
9     hpl nom march see attached file hplo xl hplo xl      0
10  fw txu lone star pipeline standard pooling agr...      0
11  enron hpl nom december see attached file hplnl...      0
12    hpl nom may see attached file hplno xl hplno xl      0
13  enron hpl actuals november teco tap hpl gas da...      0
14  txu noms attached please find txu nomination w...      0
15  hpl nom april see attached file hplno xl hplno xl      0
16  spoke person confirms pg e side said brian agr...      0
17  noms actual vols eileen gas control record ind...      0
18  hpl nom march see attached file hplno xl hplno xl      0
19  estimated actuals april estimated actuals teco...      0

### preprocessing

In [26]:
#df=pd.read_csv('processed_text_number.csv')

In [27]:
#df.head(20)

In [28]:
df['text_combined'].isna().sum()

np.int64(2)

In [29]:
df.dropna(inplace=True)

In [30]:
df['text_combined'].isna().sum()

np.int64(0)

In [31]:
df.duplicated().sum()

np.int64(1330)

In [32]:
df.drop_duplicates(inplace=True)

In [33]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from tqdm import tqdm
import random

def process_chunk(chunk, vectorizer, similarity_threshold=0.9):
    tfidf_matrix = vectorizer.transform(chunk['text_combined'])
    
    sim_matrix = cosine_similarity(tfidf_matrix)
    np.fill_diagonal(sim_matrix, 0)  # Zero out self-similarities
    
    clusters = []
    used_indices = set()
    
    for i in range(len(chunk)):
        if i not in used_indices:
            similar = np.where(sim_matrix[i] > similarity_threshold)[0]
            if len(similar) > 1:
                cluster = [chunk.index[idx] for idx in similar]
                clusters.append(cluster)
                used_indices.update(similar)
    
    return clusters

def handle_similar_texts(df, similarity_threshold=0.9, chunk_size=1000, display_clusters=True, max_clusters_to_show=5):
    vectorizer = TfidfVectorizer(max_features=10000)  # Limit features to save memory
    vectorizer.fit(df['text_combined'])
    
    all_clusters = []
    
    for i in tqdm(range(0, len(df), chunk_size), desc="Processing chunks"):
        chunk = df.iloc[i:i+chunk_size]
        clusters = process_chunk(chunk, vectorizer, similarity_threshold)
        all_clusters.extend(clusters)
    
    print(f"Found {len(all_clusters)} clusters of similar texts")
    
    # Randomly select a few clusters to display
    clusters_to_show = random.sample(all_clusters, min(max_clusters_to_show, len(all_clusters)))
    
    indices_to_keep = set(df.index)  # Start with all indices
    
    for i, cluster in enumerate(tqdm(all_clusters, desc="Processing clusters")):
        if display_clusters and cluster in clusters_to_show:
            print(f"\nExample Cluster {i+1}:")
            for j, idx in enumerate(cluster[:3]):  # Show only first 3 entries in the cluster
                print(f"  Entry {j+1}: {df.loc[idx, 'text_combined'][:100]}...")  # Show only first 100 characters
            if len(cluster) > 3:
                print(f"  ... and {len(cluster) - 3} more entries")
        
        # Keep only the first entry in the cluster
        indices_to_keep -= set(cluster[1:])
    
    # Keep only the rows we want to keep
    df = df.loc[list(indices_to_keep)]
    
    return df

# Apply the function to your dataframe
df = handle_similar_texts(df, similarity_threshold=0.6, chunk_size=1000, display_clusters=True, max_clusters_to_show=5)

Processing chunks: 100%|██████████| 81/81 [00:09<00:00,  8.27it/s]

Found 6808 clusters of similar texts

Processing clusters: 100%|██████████| 6808/6808 [00:00<00:00, 682803.00it/s]

Example Cluster 1527:
  Entry 1: let go get stoned ethnobotanical herbalist brought herba supplementals kathmandu temple kiff temple ...
  Entry 2: legal herb anytime open seven day week call ethnobotanical herbalist brought herba supplementals kat...

Example Cluster 2302:
  Entry 1: gerry carr mmeddwqshgmailcom certainly sound possible leon let face hang good buddy seem remember ge...
  Entry 2: aileen ltfarovpfeircomnet lost pair blue rim brown lens oct gerry carr wrote certainly sound possibl...

Example Cluster 2354:
  Entry 1: damien domain infoquantumdreamcom trying find cheap chemist shop wont find better range good site ev...
  Entry 2: hewitt gino castroddwebpunditscom searching good chemist shop wont find better solution site everyth...
  Entry 3: alfie adolphus fortunajeceosuedu trying find cheap chemist shop wont find better assortment site eve...
  ... and 15 more entries

Example Cluster 4332:
  Entry 1: phillip j eby moetelecommunitycom zooko wrote mar pm chris mcdonough wrote zooko wrote httpmailpytho...
  Entry 2: chris mcdonough cftxxcplopecom zooko wrote mar pm chris mcdonough wrote zooko wrote httpmailpythonor...

Example Cluster 5125:
  Entry 1: chris dibona tdfgsdugooglecom see plus pro version would like view imagry chris nov cindytry wrote w...
  Entry 2: janda tjzpsqgmailcom google earth open source software world wind nasa open source sw nov pm cindytr...

In [34]:
df.head(20)

                                        text_combined  label
0     hpl nom may see attached file hplno xl hplno xl      0
1   nom actual vols th forwarded sabrae zajac hou ...      0
2   enron actuals march april estimated actuals ma...      0
4    hpl nom june see attached file hplno xl hplno xl      0
6   tried get fancy address came back forwarded la...      0
8   fw pooling contract template original message ...      0
10  fw txu lone star pipeline standard pooling agr...      0
13  enron hpl actuals november teco tap hpl gas da...      0
14  txu noms attached please find txu nomination w...      0
16  spoke person confirms pg e side said brian agr...      0
17  noms actual vols eileen gas control record ind...      0
19  estimated actuals april estimated actuals teco...      0
20  nom alloc june th agree eileen ponton david av...      0
24  txu contract search anthony daren farmer texas...      0
25  nom vols thru agree eileen ponton david avila ...      0
28  tufco deal let look get back asap hakeem ogunb...      0
32  fw txu fuel deal imbalance daren deal listed r...      0
34  inter intra gisb enron north america forwarded...      0
35  txu fuel company enter contract txu require en...      0
37  gisb contract intrastate interstate gas mr far...      0

In [35]:
df.shape

(60350, 2)

In [40]:
#removing too few words
from collections import Counter
word_counts = Counter()
for text in df['text_combined']:
    word_counts.update(text.split())

# Step 2: Remove words with a frequency of one
words_to_remove = {word for word, count in word_counts.items() if count <=20}

# Step 3: Reconstruct the text without the rare words
def remove_rare_words(text, words_to_remove):
    return ' '.join([word for word in text.split() if word not in words_to_remove])

df['text_combined'] = df['text_combined'].apply(lambda text: remove_rare_words(text, words_to_remove))

In [41]:
df.head(20)

                                        text_combined  label
0                 hpl nom may see attached file xl xl      0
1   nom actual vols th forwarded sabrae zajac hou ...      0
2   enron actuals march april estimated actuals ma...      0
4                hpl nom june see attached file xl xl      0
6   tried get fancy address came back forwarded la...      0
8   fw pooling contract template original message ...      0
10  fw txu lone star pipeline standard pooling agr...      0
13  enron hpl actuals november teco tap hpl gas da...      0
14  txu noms attached please find txu nomination w...      0
16  spoke person confirms pg e side said brian agr...      0
17  noms actual vols eileen gas control record ind...      0
19  estimated actuals april estimated actuals teco...      0
20  nom june th agree eileen david avila lsp u tu ...      0
21  enron hpl actuals march estimated actual march...      0
24  txu contract search anthony daren farmer texas...      0
25  nom vols thru agree eileen david avila lsp u t...      0
27  noms actual vols agree eileen pm david avila l...      0
28  tufco deal let look get back asap volume manag...      0
32  fw txu fuel deal imbalance daren deal listed r...      0
34  inter intra gisb enron north america forwarded...      0

In [42]:
df.shape

(65914, 2)

In [36]:
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame and 'text_combined' is your text data column
# 'label' is your target variable

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['text_combined'], df['label'], test_size=0.2, random_state=42)

# Verify no overlap in the text data
train_texts = set(X_train)
test_texts = set(X_test)
overlap = train_texts.intersection(test_texts)
print(f"Number of overlapping texts: {len(overlap)}")

Number of overlapping texts: 0

In [41]:
# Fit the TF-IDF vectorizer on the training data only
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=10000, ngram_range=(1, 2))
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data using the already fitted vectorizer
X_test_tfidf = tfidf_vectorizer.transform(X_test)

tfidf_vectorizer.get_feature_names_out()

print(X_train_tfidf.shape)
print(X_test_tfidf.shape)

(48280, 10000)
(12070, 10000)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Train a Logistic Regression model
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)

# Predict on the test set
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      6416
           1       0.97      0.98      0.98      5654

    accuracy                           0.98     12070
   macro avg       0.98      0.98      0.98     12070
weighted avg       0.98      0.98      0.98     12070